In [1]:
import pandas as pd

In [2]:
# Importamos el Csv original: 
murcia_sucio = pd.read_csv('InventarioObrasArte-CARM-Transparencia.csv', delimiter=';')

# El Csv tenía un error y no permitía leerlo, he usado chardet para ver como estaba codificado y hacer modificaciones de ser necesario. El error persistía y apuntaba a una línea concreta, la 1282, se ha revisado y tenia un ";" extra. Se ha corregido del Csv original y con ello ya a ha funcionado.

In [3]:
pip install chardet

Requirement already satisfied: chardet in c:\users\ro\appdata\local\programs\python\python312\lib\site-packages (5.2.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:

import chardet

In [5]:
with open('C:/Users/Ro/OneDrive/Escritorio/No se como llamarlo/Ironhack/Proyecto final/InventarioObrasArte-CARM-Transparencia.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

## Limpieza del Csv:

In [6]:
# Vista previa:
murcia_sucio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N�_INVENTARIO        1640 non-null   int64
 1   TITULO               1603 non-null   object
 2   NOMBRE_AUTOR         1541 non-null   object
 3   FECHA_CREACION       435 non-null    object
 4   FONDO                1639 non-null   float64
 5   ANCHO                1640 non-null   float64
 6   ALTO                 1640 non-null   float64
 7   TECNICA              194 non-null    object
 8   TIPO                 1640 non-null   object
 9   MATERIAL_BASE        822 non-null    object
 10  MATERIAL_SECUNDARIO  894 non-null    object
 11  TEMATICA             811 non-null    object
 12  ESTADO_PATRIMONIAL   1640 non-null   object
 13  USUARIO              74 non-null     object
 14  ALTA                 1639 non-null   object
 15  VALOR_ADQUISICION    1640 non-null   float64
dtypes: float64(4), int64(1), object(11)
memory usage: 205.1+ KB

In [7]:
# Se ha creado un archivo nuevo para visualizar los datos de forma comoda en Vscode. Hay algunos elementos que contienen caracteres especiales, en la medida de los posible se corregiran:
# Todos los nombres de columnas en minusculas: 
murcia_sucio.columns = murcia_sucio.columns.str.lower()

# ¿'nº_inventario'? va a pasar a 'id_obra':
murcia_sucio = murcia_sucio.rename(columns={'n�_inventario' : 'id_inventario'})

# Verificamos estado final temporal:
murcia_sucio

,id_inventario,titulo,nombre_autor,fecha_creacion,fondo,ancho,alto,tecnica,tipo,material_base,material_secundario,tematica,estado_patrimonial,usuario,alta,valor_adquisicion
0,1001489,SERIE ESCENAS ESPA�OLAS. VIII.,"BAROJA, RICARDO",NaN,0.0,13.5,13.5,NaN,PINTURA,PAPEL,TINTA,FIGURATIVO,Alta patrimonial,NaN,COMPRAVENTA,240.40
1,1001490,SERIE ESCENAS ESPA�OLAS.,"BAROJA, RICARDO",NaN,0.0,22.5,32.5,NaN,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,270.46
2,1001491,SERIE ESCENAS ESPA�OLAS. X.,"BAROJA, RICARDO",NaN,0.0,21.5,13.5,NaN,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,210.35
3,1001492,SERIE ESCENAS ESPA�OLAS. XI.,"BAROJA, RICARDO",NaN,0.0,39.5,26.5,NaN,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,240.40
4,1001493,SERIE ESCENAS ESPA�OLAS. XII.,"BAROJA, RICARDO",NaN,0.0,21.5,13.5,NaN,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,240.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,2025508,LIMONES SOBRE MESA CON TAPETE ROJO Y SILLA MIMBRE,"AVELLANEDA, MANUEL",NaN,0.0,0.0,0.0,NaN,SERIGRAFIA,NaN,NaN,NaN,Alta patrimonial,NaN,SIN DEFINIR,500.00
1636,2025509,LIMONES SOBRE FONDO AMARILLO,ALBACETE. ALFONSO,NaN,0.0,0.0,0.0,NaN,SERIGRAFIA,NaN,NaN,NaN,Alta patrimonial,NaN,SIN DEFINIR,500.00
1637,2025510,"FIGURA FEMENINA, TERRACOTA","ALBALADEJO GARCIA, GINESA",NaN,0.0,0.0,0.0,NaN,ESCULTURA,NaN,NaN,NaN,Alta patrimonial,NaN,SIN DEFINIR,150.00
1638,2038213,CRUCE DE GEOMETRIAS,JOSE MANUEL CIRIA,NaN,0.0,0.0,0.0,NaN,PINTURA,NaN,OLEO,NaN,Alta patrimonial,NaN,DONACION,70000.00
1639,2061200,SIN T�TULO,"CAMPILLO PARRAGA, ANTONIO",NaN,0.0,0.0,0.0,NaN,ESCULTURA,NaN,NaN,NaN,Alta patrimonial,NaN,INCORPORACION,15000.00

In [8]:
# Veamos los datos únicos:
# En el df:
murcia_sucio.nunique()
# Cosillas a comentar, hay un 1640 valores, de ellos solo 1092 tienen titulo (vamos a estudiar esto), con los autores pasa algo parecido:
# Por columna: 
recuento_titulo = murcia_sucio['titulo'].value_counts() # Hay 1092 valores unicos, 137 valores sin titulo, 129 ¿llamado varios?, 45 cuadros municipio region de murcia... Vamos, hay muchas obras con un mismo titulo.
recuento_autores = murcia_sucio['nombre_autor'].value_counts() # Con los autores pasa algo parecido que con las obras, hay 470 unicos, el mas prolifico fue "Medina Vera, Inocencio" con 132 valores, seguido por "Anonimo" con 73 valores y "Flores, Pedro" con 54 valores
print(f"El numero de autores unicos es {recuento_autores} y el titulos es {recuento_titulo}")
# #

El numero de autores unicos es nombre_autor
MEDINA VERA, INOCENCIO      132
ANONIMO                      73
FLORES, PEDRO                54
BOVET, MATEO                 47
LUCAS, PEPE                  30
                           ...
ANDREU MAURANDI, DOLORES      1
BORONAT, M.                   1
MERCADO, JUAN DE DIOS         1
DELGADO, MANUEL               1
CONESA, PACO                  1
Name: count, Length: 470, dtype: int64 y el titulos es titulo
SIN TITULO                             137
VARIOS                                 129
CUADROS MUNICIPIOS REGION DE MURCIA     45
PAISAJE                                 37
BODEGON                                 13
                                      ...
RELOJ DE PARED                           1
CONSEJERIA DE OBRAS PUBLICAS             1
CALDERA                                  1
MARINA (DE JORGE FIN)                    1
CRUCE DE GEOMETRIAS                      1
Name: count, Length: 1092, dtype: int64

In [16]:
# Limpieza de nulos:
# Veamos los nulos de todo el dataset:
murcia_sucio.isnull()
# Quitamos las filas con nulos:
murcia_sucio.dropna(axis=0, how='all', inplace=False)
# Rellenamos valores nulos con fillna:
# Autor: 
murcia_sucio['nombre_autor'].fillna(value='DESCONOCIDO', inplace=False)
murcia_sucio['nombre_autor'].value_counts().get('LUCAS, PEPE', 0)
# Vamos a agrupar los valores raros de los nombres de los autores:
murcia_sucio['nombre_autor'].replace({'ANONIMO': 'DESCONOCIDO', 'DESCONOCIDO': 'DESCONOCIDO', ' ': 'DESCONOCIDO'}, inplace=True)

# 
murcia_sucio['nombre_autor'].value_counts('DESCONOCIDO')

C:\Users\Ro\AppData\Local\Temp\ipykernel_10496\1615855705.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  murcia_sucio['nombre_autor'].replace({'ANONIMO': 'DESCONOCIDO', 'DESCONOCIDO': 'DESCONOCIDO', ' ': 'DESCONOCIDO'}, inplace=True)

nombre_autor
MEDINA VERA, INOCENCIO            0.085659
desconocido                       0.057755
FLORES, PEDRO                     0.035042
BOVET, MATEO                      0.030500
LUCAS, PEPE                       0.019468
                                    ...
MARIA INMACULADA BERNAL ORENES    0.000649
ANDREU MAURANDI, DOLORES          0.000649
BORONAT, M.                       0.000649
MERCADO, JUAN DE DIOS             0.000649
DELGADO, MANUEL                   0.000649
Name: proportion, Length: 469, dtype: float64

In [10]:
# Agrupado y creacion de salas por "tematica":
# 
# #

In [11]:
# Por curiosidad:
mas_antiguo = murcia_sucio['fecha_creacion'].min
mas_antiguo
mas_nuevo = murcia_sucio['fecha_creacion'].max
mas_nuevo

<bound method Series.max of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1635    NaN
1636    NaN
1637    NaN
1638    NaN
1639    NaN
Name: fecha_creacion, Length: 1640, dtype: object>

In [12]:
# Extraemos los Csv´s limpitos:
# El de Murcia limpio:
murcia_sucio.to_csv("murcia_limpio.csv")

# 
# 
#