In [148]:
import pandas as pd

In [149]:
# Importamos el Csv original: 
murcia_sucio = pd.read_csv('InventarioObrasArte-CARM-Transparencia.csv', delimiter=';')

# El Csv tenía un error y no permitía leerlo, he usado chardet para ver como estaba codificado y hacer modificaciones de ser necesario. El error persistía y apuntaba a una línea concreta, la 1282, se ha revisado y tenia un ";" extra. Se ha corregido del Csv original y con ello ya a ha funcionado.

In [ ]:
pip install chardet

In [ ]:

import chardet

In [ ]:
with open('C:/Users/Ro/OneDrive/Escritorio/No se como llamarlo/Ironhack/Proyecto final/InventarioObrasArte-CARM-Transparencia.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

## Limpieza del Csv:

In [ ]:
# Vista previa:
murcia_sucio.info()

In [ ]:
# Se ha creado un archivo nuevo para visualizar los datos de forma comoda en Vscode. Hay algunos elementos que contienen caracteres especiales, en la medida de los posible se corregiran:
# Todos los nombres de columnas en minusculas: 
murcia_sucio.columns = murcia_sucio.columns.str.lower()

# ¿'nº_inventario'? va a pasar a 'id_obra':
murcia_sucio = murcia_sucio.rename(columns={'n�_inventario' : 'id_inventario'})
murcia_sucio = murcia_sucio.rename(columns={'fondo' : 'fondo (cm)', 'ancho': 'ancho (cm)', 'alto': 'alto (cm)', 'valor_adquisicion': 'valor_adquisicion(euros)'})

# Verificamos estado final temporal:
murcia_sucio

,id_inventario,titulo,nombre_autor,fecha_creacion,fondo (cm),ancho (cm),alto(cm),tecnica,tipo,material_base,material_secundario,tematica,estado_patrimonial,usuario,alta,valor_adquisicion(euros)
0,1001489,SERIE ESCENAS ESPA�OLAS. VIII.,"BAROJA, RICARDO",NaN,0.0,13.5,13.5,DESCONOCIDA,PINTURA,PAPEL,TINTA,FIGURATIVO,Alta patrimonial,NaN,COMPRAVENTA,240.40
1,1001490,SERIE ESCENAS ESPA�OLAS.,"BAROJA, RICARDO",NaN,0.0,22.5,32.5,DESCONOCIDA,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,270.46
2,1001491,SERIE ESCENAS ESPA�OLAS. X.,"BAROJA, RICARDO",NaN,0.0,21.5,13.5,DESCONOCIDA,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,210.35
3,1001492,SERIE ESCENAS ESPA�OLAS. XI.,"BAROJA, RICARDO",NaN,0.0,39.5,26.5,DESCONOCIDA,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,240.40
4,1001493,SERIE ESCENAS ESPA�OLAS. XII.,"BAROJA, RICARDO",NaN,0.0,21.5,13.5,DESCONOCIDA,PINTURA,PAPEL,TINTA,FIGURATIVO,Cedido patrimonial,AYUNTAMIENTO DE LA UNION,COMPRAVENTA,240.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,2025508,LIMONES SOBRE MESA CON TAPETE ROJO Y SILLA MIMBRE,"AVELLANEDA, MANUEL",NaN,0.0,0.0,0.0,DESCONOCIDA,SERIGRAFIA,NaN,NaN,SIN DEFINIR,Alta patrimonial,NaN,SIN DEFINIR,500.00
1636,2025509,LIMONES SOBRE FONDO AMARILLO,ALBACETE. ALFONSO,NaN,0.0,0.0,0.0,DESCONOCIDA,SERIGRAFIA,NaN,NaN,SIN DEFINIR,Alta patrimonial,NaN,SIN DEFINIR,500.00
1637,2025510,"FIGURA FEMENINA, TERRACOTA","ALBALADEJO GARCIA, GINESA",NaN,0.0,0.0,0.0,DESCONOCIDA,ESCULTURA,NaN,NaN,SIN DEFINIR,Alta patrimonial,NaN,SIN DEFINIR,150.00
1638,2038213,CRUCE DE GEOMETRIAS,JOSE MANUEL CIRIA,NaN,0.0,0.0,0.0,DESCONOCIDA,PINTURA,NaN,OLEO,SIN DEFINIR,Alta patrimonial,NaN,DONACION,70000.00
1639,2061200,SIN T�TULO,"CAMPILLO PARRAGA, ANTONIO",NaN,0.0,0.0,0.0,DESCONOCIDA,ESCULTURA,NaN,NaN,SIN DEFINIR,Alta patrimonial,NaN,INCORPORACION,15000.00

In [ ]:
# Veamos los datos únicos:
# En el df:
murcia_sucio.nunique()
# Cosillas a comentar, hay un 1640 valores, de ellos solo 1092 tienen titulo (vamos a estudiar esto), con los autores pasa algo parecido:
# Por columna: 
recuento_titulo = murcia_sucio['titulo'].value_counts() # Hay 1092 valores unicos, 137 valores sin titulo, 129 ¿llamado varios?, 45 cuadros municipio region de murcia... Vamos, hay muchas obras con un mismo titulo.
recuento_autores = murcia_sucio['nombre_autor'].value_counts() # Con los autores pasa algo parecido que con las obras, hay 470 unicos, el mas prolifico fue "Medina Vera, Inocencio" con 132 valores, seguido por "Anonimo" con 73 valores y "Flores, Pedro" con 54 valores
print(f"El numero de autores unicos es {recuento_autores} y el titulos es {recuento_titulo}")
# #

El numero de autores unicos es nombre_autor
MEDINA VERA, INOCENCIO      132
ANONIMO                      73
FLORES, PEDRO                54
BOVET, MATEO                 47
LUCAS, PEPE                  30
                           ...
ANDREU MAURANDI, DOLORES      1
BORONAT, M.                   1
MERCADO, JUAN DE DIOS         1
DELGADO, MANUEL               1
CONESA, PACO                  1
Name: count, Length: 470, dtype: int64 y el titulos es titulo
SIN TITULO                             137
VARIOS                                 129
CUADROS MUNICIPIOS REGION DE MURCIA     45
PAISAJE                                 37
BODEGON                                 13
                                      ...
RELOJ DE PARED                           1
CONSEJERIA DE OBRAS PUBLICAS             1
CALDERA                                  1
MARINA (DE JORGE FIN)                    1
CRUCE DE GEOMETRIAS                      1
Name: count, Length: 1092, dtype: int64

In [ ]:
# Limpieza de nulos:
# Veamos los nulos de todo el dataset:
murcia_sucio.isnull()
# Quitamos las filas con nulos:
murcia_sucio.dropna(axis=0, how='all', inplace=False)
# Rellenamos valores nulos con fillna:
# Autor: 
murcia_sucio['nombre_autor'].fillna(value='DESCONOCIDO', inplace=True)
# Vamos a agrupar los valores raros de los nombres de los autores:
murcia_sucio['nombre_autor'].replace({'ANONIMO': 'DESCONOCIDO', 'DESCONOCIDO': 'DESCONOCIDO', ' ': 'DESCONOCIDO'}, inplace=True)
# Recuento de autores y su frecuencia para ver el estado de la categoria "DESCONOCIDO":
murcia_sucio['nombre_autor'].value_counts()
# Agrupacion de titulos sin nombre:
murcia_sucio['titulo'].fillna(value='TITULO DESCONOCIDO', inplace=True)
murcia_sucio['titulo'].replace({' ': 'TITULO DESCONOCIDO', 'SIN TITULO': 'TITULO DESCONOCIDO'}, inplace=True)
# Recuento de titulos y sus frecuencias para ver el estado de la categoria:
murcia_sucio['titulo'].value_counts()
# Rellenamos los valores nulos y agrupamos los que no son claros (teniamos un ' ' y '0'):
murcia_sucio['tecnica'].fillna(value='DESCONOCIDA', inplace=True)
murcia_sucio['tecnica'].replace({' ': 'DESCONOCIDA', '0': 'DESCONOCIDA'}, inplace=True)
# Hacemos un recuento de los valores de la tecnica para ver el estado:
murcia_sucio['tecnica'].value_counts()
# # Rellenamos los valores nulos y agrupamos los que no son claros (teniamos un ' ' y una catergoria llamada 'SIN DEFINIR'):
murcia_sucio['tematica'].fillna(value = 'SIN DEFINIR', inplace=True)
murcia_sucio['tematica'].replace({' ': 'SIN DEFINIR'}, inplace=True)
# Hacemos un recuento de los valores de la tecnica para ver el estado:
murcia_sucio['tematica'].value_counts()

C:\Users\Ro\AppData\Local\Temp\ipykernel_10496\693972665.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  murcia_sucio['nombre_autor'].fillna(value='DESCONOCIDO', inplace=True)
C:\Users\Ro\AppData\Local\Temp\ipykernel_10496\693972665.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  murcia_sucio['titulo'].fillna(value='TITULO DESCONOCIDO', inplace=True)
C:\Users\Ro\AppData\Local\Temp\ipykernel_10496\693972665.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  murcia_sucio['tecnica'].fillna(value='DESCONOCIDA', inplace=True)
C:\Users\Ro\AppData\Local\Temp\ipykernel_10496\693972665.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  murcia_sucio['tematica'].fillna(value = 'SIN DEFINIR', inplace=True)

tematica
SIN DEFINIR      833
COSTUMBRISMO     197
PAISAJE          196
COMPOSICION       97
RETRATO           87
FIGURATIVO        79
RELIGIOSA         34
BODEGON           28
GENERO            27
ALEGORICA         14
SIMBOLICO         11
MARINA             9
EXPRESIONISMO      9
DESNUDO            8
INTERIOR           7
HERALDICA          2
HISTORICO          2
Name: count, dtype: int64

In [ ]:
# Habria que modificar el tipo de datos almacenados en la columna fecha de creacion, agrupando tambien el ' ' en la categoria de desconocido:
# murcia_sucio['fecha_creacion'] = pd.to_datetime(murcia_sucio['fecha_creacion'])

In [ ]:
# Agrupado y creacion de salas por "tematica":
# 
# #

In [ ]:
# Extraemos los Csv´s limpitos:
# El de Murcia limpio:
murcia_sucio.to_csv("murcia_limpio.csv")

# 
# 
#